# for를 이용한 기본 활용
1 부터 100까지 모두 더하는 code를 for 문을 사용하여 만드시오.

In [1]:
s = 0
for i in range(100):
    s += i+1
    
print(s)

5050

# 게임 캐릭터 클래스 만들기
다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.

In [2]:
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
    
    def attack(self):
        print('파이어볼')
        
    def health(self):
        print(health)
    
    def mana(self):
        print(mana)
    
    def armor(self):
        print(armor)
        

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

# 몇 번째 행성인가요?
우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다.  

입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫번째 행성입니다.

출력으로 그 순서에 해당하는 행성의 이름을 출력해 주세요.

In [8]:
n = int(input())

planet_list = ["수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성"]

print(planet_list[n-1])

1
수성

# 3의 배수 인가요?
영희는 친구와 게임을 하고 있습니다. 서로 돌아가며 랜덤으로 숫자를 하나 말하고 그게 3의 배수이면 박수를 치고 아니면 그 숫자를 그대로 말하는 게임입니다.

입력으로 랜덤한 숫자 n이 주어집니다.

만약 그 수가 3의배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요.

In [11]:
n = int(input())

if n%3 == 0: 
    print("짝")
else:
    print(n)

6
짝

# 자기소개
신학기가 시작되고, 아이들이 돌아가면서 자기소개를 하기로 했습니다. 만약 입력으로 김다정이라는 이름이 주어지면 " 안녕하세요. 저는 김다정입니다." 라고 출력하게 해주세요.

In [15]:
name = input("이름을 입력하시오. :")

print(f'안녕하세요. 저는 {name}입니다.')

이름을 입력하시오. :박건현
안녕하세요. 저는 박건현입니다.

# 로꾸거
문장이 입력되면 거꾸로 출력하는 프로그램을 만들어 봅시다.

In [18]:
string = input()

reversed_string = ''.join(reversed(string))

print(reversed_string)

graewgar
ragwearg

# 놀이기구 키 제한
유주는 놀이공원 아르바이트 중입니다. 그런데 놀이기구마다 키 제한이 있습니다. 유주가 담당하는 놀이기구는 키가 150이상만 탈 수 있습니다.

입력으로 키가 주어지면  
키가 150이 넘으면 yes 아니면 no를 출력하는 프로그램을 작성하세요.

In [20]:
height = int(input())

if height > 150:
    print('yes')
else:
    print('no')

434
yes

# 평균 점수
영하네 반은 국어, 수학, 영어 시험을 보았습니다. 영하는 친구들의 평균 점수를 구해주기로 했습니다.

공백으로 구분하여 세 과목의 점수가 주어지면  
전체 평균 점수를 구하는 프로그램을 작성하세요. 단, 소숫점 자리는 모두 버립니다.

In [28]:
test_score = input("시험점수의 값을 띄어쓰기로 구분하여 입력하시오.:")

def test_average(test_score):
    test_score_list = test_score.split(" ")
    test_score_list = list(map(int,test_score_list))
    
    answer = sum(test_score_list)//len(test_score_list)
    return answer
    
    
print(test_average(test_score))

시험점수의 값을 띄어쓰기로 구분하여 입력하시오.:20 30 40
30

# 제곱을 구하자
공백으로 구분하여 두 숫자 a와b가 주어지면, a의b승을 구하는 프로그램을 작성하세요.

In [29]:
number = input("숫자 a, b를 입력하시오.:")

number = number.split(" ")
print(int(number[0])**int(number[1]))

숫자 a, b를 입력하시오.:2 5
32

# 몫과 나머지
공백으로 구분하여 두 숫자가 주어집니다.  
첫번째 숫자로 두번째 숫자를 나누었을 때 그 몫과 나머지를 공백으로 구분하여 출력하세요.

In [31]:
number = input("숫자 a, b를 입력하시오.:")

number = number.split(" ")
a, b = divmod(int(number[0]),int(number[1]))
print(a, b)

숫자 a, b를 입력하시오.:10 2
5 0