# 리스트의 함수 응용

다음의 딕셔너리가 주어졌을 때 한국의 면적과 가장 비슷한 국가와 그 차이를 출력하세요.

In [3]:
#데이터
nationWidth = {
    'korea': 220877,
    'Rusia': 17098242,
    'China': 9596961,
    'France': 543965,
    'Japan': 377915,
    'England': 242900}

def nationWidth_difference(nationWidth: dict) -> str:
    answer = min([abs(value - nationWidth.get('korea')) for value in nationWidth.values() if abs(value - nationWidth.get('korea')) > 0]) +nationWidth.get('korea')
    reverse_dict = dict(map(reversed, nationWidth.items()))
    difference = answer - nationWidth.get('korea')
    return print(reverse_dict.get(answer), difference)
#     return f'{reverse_dict.get(answer)} {difference}'
    
nationWidth_difference(nationWidth)

England 22023

복잡하게 짠 느낌....

In [31]:
nationWidth = {
	'korea': 220877, 
	'Rusia': 17098242, 
	'China': 9596961, 
	'France': 543965, 
	'Japan': 377915,
	'England' : 242900,
}

w = nationWidth['korea']
nationWidth.pop('korea')
l = list(nationWidth.items())
gap = max(nationWidth.values())
item = 0

for i in l:
    if gap > abs(i[1] - w):
        gap = abs(i[1] - w)
        item = i
print(item[0],item[1]-220877)

England 22023

# 내장함수 응용하기
0부터 1000까지 1의 개수를 세는 프로그램을 만들려구 합니다. 예를 들어 0 부터 20까지 1의 개수를 세어본다면 1, 10, .., 19 에 각각 1이 들어가므로 12개의 1이 있게 됩니다. 11은 1이 2번 들어간 셈이죠.  

그렇다면 0부터 1000까지 수에서 1은 몇번이나 들어갔을까요? 출력해주세요!

# 콤마 찍기  
원범이는 편의점 아르바이트가 끝난 후 정산을 하고자 합니다.  
정산을 빨리하고 집에가고 싶은 원범이는 프로그램을 만들려고 합니다.  
 
숫자를 입력 받고 천단위로 콤마(,)를 찍어주세요.  

예를들어, 123456789를 입력 받았으면 123,456,789를 출력해야 합니다.

In [36]:
def comma_machine(n):
    strN = str(n) #문자화
    lenN = len(strN) #문자길이
    len_c = (lenN//3)*3 # 3의 배수단위로 개수구함
    str_list = []
    i = len_c
    str_list.append(strN[0:-(len_c)]) # 처음은 따로넣음 12000의 경우 '12'부분
    while i > 3 :
        str_list.append(strN[-(i):-(i-3)]) #3의배수 단위로 넣어줌
        i -= 3
    str_list.append(strN[-3::]) #끝은 따로 넣음
    a= ','
    print(str_list) 
    print(a.join(str_list).strip(',')) #,로 join하면서 하나로 합침 
    #strip은 딱 떨어질경우 끝에 , 붙은것 제거
    
comma_machine(12233434234)

['12', '233', '434', '234']
12,233,434,234

In [37]:
# 재귀함수를 사용한 풀이 방법

def comma(n):
    n = str(n) #문자로 변환
    if n[0] == '-': #-있는경우 따로 고려!!
        return '-' + comma(n[1:])
    if len(n) <= 3: #재귀함수 돌아서 3미만됐을 경우 걔 출력
        return n
    if n.find('.') == -1: #find함수는 그문자 있으면 인덱스값, 없으면 -1 반환
        # print(n.find('.')) #디버깅용
        # print(n)
        return comma(n[:-3]) + ',' + n[-3:] #뒤에 3개만 ,000 이런식으로 하고 앞에 부분은 재귀로 다시보냄
    else: #소수점 전으로 끊고, 소수점 후 끊는것
        return comma(n[:n.find('.')]) + n[n.find('.'):]
    
comma(12341353)

'12,341,353'

참고자료: https://codechacha.com/ko/python-number-format-comma/

In [41]:
def comma(n): return print(f'{n:,}') # 이런식으로 자동으로 해준다..!
                 
comma(12341353)

12,341,353

# 빈칸채우기  
총 문자열의 길이는 50으로 제한하고 사용자가 문자열을 입력하면 그 문자열을 가운데 정렬을 해주고, 나머지 빈 부분에 '='을 채워넣어주세요.

In [43]:
def str_name(str_name: str) -> str:
    return print(str_name.center(50, '='))

str_name("stjweiltjewstil")

=================stjweiltjewstil==================

In [52]:
def str_name(str_name: str) -> str:
    return print('{:=^50}'.format(str_name))

str_name("fefe")

=======================fefe=======================

# enumerate  
새학기가 되어 이름을 가나다 순서대로 배정하고 번호를 매기려고 합니다.  
코드에 입력된 이름을 아래와 같이 출력해주세요.

In [59]:
# 데이터
student = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']

def enumerate_name(student: list) -> str:
    student.sort()
    for i, j in enumerate(student):
        print(f"번호: {i+1}, 이름: {j}")
        
enumerate_name(student)

번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진