# 파이썬 제어문
## IF 실습

In [1]:
# 기본 형식

print(type(True)) # 0이 아닌 수, "abc", [1,2,3..], (1,2,3..) ...
print(type(False)) # 0, "", [], (), {} ...

<class 'bool'>
<class 'bool'>

In [2]:
# 예1
if True:
    print("Good")  # 들여쓰기(Indent)

Good

In [3]:
if False:
    # 실행 X
    print("Bad")

In [4]:
# 예2
if False:
    # 여기는 실행되지 않음.
    print("Bad")
else:
    # 여기가 실행된다.
    print("Good")

Good

## 관계연산자 종류
*  ,>, >=, <, <=, ==, !=

In [6]:
x = 15
y = 10

# == 양 변이 같을 때 참.
print(x == y)

# != 양 변이 다를 때 참.
print(x != y)

# > 왼쪽이 클때 참.
print(x > y)

# >= 왼쪽이 크거나 같을 때 참.
print(x >= y)

# < 오른쪽이 클 때 참.
print(x < y)

# <= 오른쪽이 크거나 같을 때 참.
print(x <= y)

False
True
True
True
False
False

* 참 거짓 판별 종류
* 참 : "values", [values], (values), {values}, 1
* 거짓 : "", [], (), {}, 0, None

In [7]:
city = ""
if city:
    print("You are in:", city)
else:
    # 출력
    print("Please enter your city")

city = "Seoul"
if city:
    print("You are in:", city)
else:
    # 출력
    print("Please enter your city")

Please enter your city
You are in: Seoul

* 논리연산자(중요)
* and, or, not
* 참고 : https://www.tutorialspoint.com/python/python_basic_operators.htm

In [8]:
a = 75
b = 40
c = 10

print('and : ', a > b and b > c)  # a > b > c
print('or : ', a > b or b > c)
print('not : ', not a > b)
print('not : ', not b > c)
print(not True)
print(not False)

and :  True
or :  True
not :  False
not :  False
False
True

### 산술, 관계, 논리 우선순위
### 산술 > 관계 > 논리 순서로 적용

In [9]:
print('e1 : ', 3 + 12 > 7 + 3)
print('e2 : ', 5 + 10 * 3 > 7 + 3 * 20)
print('e3 : ', 5 + 10 > 3 and 7 + 3 == 10)
print('e4 : ', 5 + 10 > 0 and not 7 + 3 == 10)

e1 :  True
e2 :  False
e3 :  True
e4 :  False

In [10]:
score1 = 90
score2 = 'A'

# 복수의 조건이 모두 참일 경우에 실행.
if score1 >= 90 and score2 == 'A':
    print("Pass.")
else:
    print("Fail.")

Pass.

In [11]:
# 예제

id1 = "vip"
id2 = "admin"
grade = 'platinum'

if id1 == "vip" or id2 == "admin":
    print("관리자 인증")

if id2 == "admin" and grade == "platinum":
    print("최상위 관리자")

관리자 인증
최상위 관리자

In [12]:
# 다중 조건문
num = 90

if num >= 90:
    print('Grade : A')
elif num >= 80:
    print('Grade : B')
elif num >= 70:
    print('Grade : C')
else:
    print('과락')

Grade : A

In [13]:
# 중첩 조건문

grade = 'A'
total = 95

if grade == 'A':
    if total >= 90:
        print("장학금 100%")
    elif total >= 80:
        print("장학금 80%")
    else:
        print("장학금 70%")
else:
    print("장학금 50%")

장학금 100%

In [14]:
# in, not in

q = [10, 20, 30]
w = {70, 80, 90, 90}
e = {"name": 'Lee', "city": "Seoul", "grade": "A"}
r = (10, 12, 14)

print(15 in q)
print(90 in w)
print(12 not in r)
print("name" in e)  # key 검색
print("seoul" in e.values())  # value 검색

False
True
False
True
False

# 파이썬 반복문
## FOR 실습

In [16]:
# 코딩의 핵심 
# for i in <collection>
#     <loop body>

In [18]:
for v1 in range(10):
    print("v1 is :", v1)

print()

for v2 in range(1, 11):
    print("v2 is :", v2)

print()

for v3 in range(1, 11, 2):
    print("v3 is :", v3)

print()

v1 is : 0
v1 is : 1
v1 is : 2
v1 is : 3
v1 is : 4
v1 is : 5
v1 is : 6
v1 is : 7
v1 is : 8
v1 is : 9

v2 is : 1
v2 is : 2
v2 is : 3
v2 is : 4
v2 is : 5
v2 is : 6
v2 is : 7
v2 is : 8
v2 is : 9
v2 is : 10

v3 is : 1
v3 is : 3
v3 is : 5
v3 is : 7
v3 is : 9

In [19]:
# 1 ~ 1000합

sum1 = 0

for v in range(1, 1001):
    sum1 += v

print('1 ~ 1000 Sum : ', sum1)

print('1 ~ 1000 Sum : ', sum1)
print('1 ~ 1000 Sum : ', sum(range(1, 1001)))  # sum(리스트)
print('1 ~ 1000 안에 4의 배수의 합 : ', sum(range(1, 1001, 4)))

1 ~ 1000 Sum :  500500
1 ~ 1000 Sum :  500500
1 ~ 1000 Sum :  500500
1 ~ 1000 안에 4의 배수의 합 :  124750

* Iterables 자료형 반복
* 문자열, 리스트, 튜플, 집합, 사전
* iterable 리턴 함수 : range, reversed, enumerate, filter, map, zip

In [20]:
# 예제1
names = ["Kim", "Park", "Cho", "Lee", "Choi", "Yoo"]

for name in names:
    print("You are", name)

You are Kim
You are Park
You are Cho
You are Lee
You are Choi
You are Yoo

In [21]:
# 예제2
lotto_numbers = [11, 19, 21, 28, 36, 37]

for number in lotto_numbers:
    print("Current number : ", number)

Current number :  11
Current number :  19
Current number :  21
Current number :  28
Current number :  36
Current number :  37

In [22]:
# 예제3
word = 'Beautiful'

for s in word:
    print('word : ', s)

word :  B
word :  e
word :  a
word :  u
word :  t
word :  i
word :  f
word :  u
word :  l

In [23]:
# 예제4
my_info = {
    "name": "Lee",
    "Age": 33,
    "City": "Seoul"
}

for key in my_info:
    print(key, ":", my_info[key])

for val in my_info.values():
    print(val)

name : Lee
Age : 33
City : Seoul
Lee
33
Seoul

In [24]:
# 예제5
name = 'FineApplE'

for n in name:
    if n.isupper():
        print(n)
    else:
        print(n.upper())

numbers = [14, 3, 4, 7, 10, 24, 17, 2, 33, 15, 34, 36, 38]

F
I
N
E
A
P
P
L
E

In [25]:
# break
for num in numbers:
    if num == 34:
        print("Found : 34!")
        break
    else:
        print("Not found : ", num)

Not found :  14
Not found :  3
Not found :  4
Not found :  7
Not found :  10
Not found :  24
Not found :  17
Not found :  2
Not found :  33
Not found :  15
Found : 34!

In [26]:
# continue
lt = ["1", 2, 5, True, 4.3, complex(4)]

for v in lt:
    if type(v) is bool:
        continue

    print("current type : ", type(v))
    print("multiply by 2:", v * 3)

current type :  <class 'str'>
multiply by 2: 111
current type :  <class 'int'>
multiply by 2: 6
current type :  <class 'int'>
multiply by 2: 15
current type :  <class 'float'>
multiply by 2: 12.899999999999999
current type :  <class 'complex'>
multiply by 2: (12+0j)

In [27]:
# else 구문
numbers = [14, 3, 4, 7, 10, 24, 17, 2, 33, 15, 34, 36, 38]

for num in numbers:
    if num == 34:  # 45
        print("Found : 34!")
        break
else:
    print("Not Found 45...")

Found : 34!

In [28]:
# 구구단 출력

for i in range(2, 10):
    for j in range(2, 10):
        print('{:4d}'.format(i * j), end='')
    print()

   4   6   8  10  12  14  16  18
   6   9  12  15  18  21  24  27
   8  12  16  20  24  28  32  36
  10  15  20  25  30  35  40  45
  12  18  24  30  36  42  48  54
  14  21  28  35  42  49  56  63
  16  24  32  40  48  56  64  72
  18  27  36  45  54  63  72  81

In [29]:
# 변환 예제
name = 'Aceman'
print('Reversed : ', reversed(name))
print('List : ', list(reversed(name)))
print('Tuple : ', tuple(reversed(name)))
print('Set : ', set(reversed(name)))  # 순서X

Reversed :  <reversed object at 0x0000029B2DB686A0>
List :  ['n', 'a', 'm', 'e', 'c', 'A']
Tuple :  ('n', 'a', 'm', 'e', 'c', 'A')
Set :  {'m', 'A', 'a', 'e', 'n', 'c'}

## While 실습

In [15]:
# while <expr>:  
#     <statement(s)>

In [30]:
# 예제1
n = 5
while n > 0:
    print(n)
    n = n - 1

5
4
3
2
1

In [31]:
# 예제2
a = ['foo', 'bar', 'baz']

while a:
    print(a.pop())

baz
bar
foo

### if 중첩
#### 예제3
* break , continue

In [32]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop Ended.')  
print()

4
3
Loop Ended.

In [33]:
# 예제4
m = 5
while m > 0:
    m -= 1
    if m == 2:
        continue
    print(m)
print('Loop Ended.')

4
3
1
0
Loop Ended.

In [34]:
# 예제5
i = 1

while i <= 10:
    print('i:',i)
    if i == 6:
        break
    i += 1

i: 1
i: 2
i: 3
i: 4
i: 5
i: 6

### While - else 구문

In [35]:
# 예제6
n = 10
while n > 0:
    n -= 1
    print(n)
    if n == 5:
        break
else:
    print('else out.')

9
8
7
6
5

In [36]:
# 예제7 
a = ['foo', 'bar', 'baz', 'qux']
s = 'qux'

i = 0

while i < len(a):
    if a[i] == s:
        break
    i += 1
else:
    print(s, 'not found in list.')

In [37]:
# 무한반복
# while True:
#     print('Foo')

In [38]:
# 예제8
a = ['foo', 'bar', 'baz']
while True:
    if not a:
        break
    print(a.pop())

baz
bar
foo