# 파이썬 함수 및 중요성
## 파이썬 함수식 및 람다(lambda)

In [1]:
# 함수 정의 방법
# def function_name(parameter):
#     code

In [1]:
# 예제1
def first_func(w1):
    print("Hello, ", w1)

word = "Goodboy"

first_func(word)

Hello,  Goodboy

#### print, return의 차이점

In [9]:
# 예제2-1
def return_func(w1):
    value = "Hello, " + str(w1)
    return value #  value 값을 반환한다.

x = return_func('Goodboy2')
print(x)

Hello, Goodboy2

In [11]:
# 예제2-2
def print_func(w1):
    value = "Hello, " + str(w1)
    print(value) #  value 값을 출력한다.
    
print_func("geon")

Hello, geon

In [12]:
# 예제2-3

x = print_func("geon_hyeon")
print(x)

Hello, geon_hyeon
None

##### 예제2-3에서 보면 알 수 있듯 값을 반환해주는 return과는 다르게, print의 경우 다른 변수에 저장을 할 수 없다.
* print - 값을 출력해준다.
* return - 값을 반환해주어 변수에 저장할 수 있도록 해준다.

In [4]:
# 예제3(다중반환)

def func_mul(x):
    y1 = x * 10
    y2 = x * 20
    y3 = x * 30
    return y1, y2, y3

x, y, z = func_mul(10)

print(x, y ,z)

100 200 300

##### Python의 경우 이런식으로 다중반환을 수행할 수 있다.

In [5]:
# 튜플 리턴
def func_mul2(x):
    y1 = x * 10
    y2 = x * 20
    y3 = x * 30
    return (y1, y2, y3)

q = func_mul2(20)

print(type(q), q, list(q))

<class 'tuple'> (200, 400, 600) [200, 400, 600]

##### 이런식으로 응용할 수 있다. 필요의 경우 list나 다른 형변환을 통해 활용할 수 있다.

In [7]:
# 리스트 리턴
def func_mul2(x):
    y1 = x * 10
    y2 = x * 20
    y3 = x * 30
    return [y1, y2, y3]


p = func_mul2(30)

print(type(p), p, set(q))

<class 'list'> [300, 600, 900] {200, 600, 400}

In [8]:
# 딕셔너리 리턴
def func_mul3(x):
    y1 = x * 10
    y2 = x * 20
    y3 = x * 30
    return {'v1': y1, 'v2': y2, 'v3': y3}


d = func_mul3(30)
print(type(d), d, d.get('v2'), d.items(), d.keys())

<class 'dict'> {'v1': 300, 'v2': 600, 'v3': 900} 600 dict_items([('v1', 300), ('v2', 600), ('v3', 900)]) dict_keys(['v1', 'v2', 'v3'])

# 중요

In [9]:
# *args, **kwargs

# *args(언팩킹) - 튜플형태
def args_func(*args): # 매개변수 명 자유
    for i, v in enumerate(args):
        print('Result : {}'.format(i), v)
    print('-----')

args_func('Lee')
args_func('Lee', 'Park')
args_func('Lee', 'Park', 'Kim')

# **kwargs(언팩킹) - 딕셔너리
def kwargs_func(**kwargs): # 매개변수 명 자유
    for v in kwargs.keys():
        print("{}".format(v), kwargs[v])
    print('-----')

kwargs_func(name1='Lee')
kwargs_func(name1='Lee', name2='Park')
kwargs_func(name1='Lee', name2='Park', name3='Cho')

Result : 0 Lee
-----
Result : 0 Lee
Result : 1 Park
-----
Result : 0 Lee
Result : 1 Park
Result : 2 Kim
-----
name1 Lee
-----
name1 Lee
name2 Park
-----
name1 Lee
name2 Park
name3 Cho
-----

In [20]:
# 전체 혼합_ver1
def example_ver1(args_1, args_2, *args, **kwargs):
    print(args_1, args_2, args, kwargs)

example_ver1(10, 20, 'Lee', 'Kim', 'Park', 'Cho', age1=20, age2=30, age3=40)

# 전체 혼합_ver2
def example_ver2(args_1, args_2, *args, **kwargs):
    print(args_1, args_2, args, kwargs)

example_ver2(10, 'Lee', 10, 'Kim', 'Park', 'Cho', age1=20, age2=30, age3=40)

# 전체 혼합_ver3
def example_ver3(args_1, args_2, *args, **kwargs):
    print(args_1, args_2, args, kwargs)

example_ver3(20,'Lee', 'Kim', 'Park', 'Cho',age3=40, age2=30)

10 20 ('Lee', 'Kim', 'Park', 'Cho') {'age1': 20, 'age2': 30, 'age3': 40}
10 Lee (10, 'Kim', 'Park', 'Cho') {'age1': 20, 'age2': 30, 'age3': 40}
20 Lee ('Kim', 'Park', 'Cho') {'age3': 40, 'age2': 30}

##### 변수들이 어떤식으로 할당이 되었는지 생각해보자.
##### args_1, args_2 의 경우 처음 들어온 변수에 할당이 되는걸 알 수 있다.

In [28]:
def example_ver4(*args, **kwargs):
    print(args, kwargs)
    
example_ver4(age1 = 10, age2 = 20, 'Lee', 'Kim',age3 = 30, 'Park')

SyntaxError: positional argument follows keyword argument (<ipython-input-28-4229c4b944fb>, line 4)

In [26]:
def example_ver5(*args, **kwargs):
    print(args, kwargs)

tuple_set = 'Kim', 'Park', 'Cho'
dictionary_set = {'age1': 10, 'age2': 20, 'age3': 30}
 
example_ver5(tuple_set,dictionary_set) 
# 이런식으로 하니깐 *args 변수에 튜플 형태로 계산되고, **kwargs의 경우에는 딕셔너리 형태가 없어서 빈 값으로 나온듯

(('Kim', 'Park', 'Cho'), {'age1': 10, 'age2': 20, 'age3': 30}) {}

##### 순서가 섞이는 경우에는 딕셔너리와 튜플 값을 이해하지 못하는것 같다. 이건 언팩킹의 성질이 아니라 자료구조의 문제인듯..

In [11]:
# 중첩함수

def nested_func(num): 
    def func_in_func(num): 
        print(num) 
    print("In func") 
    func_in_func(num + 100) 

nested_func(100)

In func
200

순서1 함수를 정의하였다.  
순서 2 함수 안에서 함수가 정의만 되었다.  
print("In func") # 순서 3 이 출력되고  
func_in_func(num + 100) # 순서 4 num으로 들어온 변수 값에 100을 더한 값을 함수안의 함수 의 변수로 할당한다.  
print(num) # 순서 5 함수 안의 함수에 있는 print문이 출력된다.

In [29]:
func_in_func(1000)

NameError: name 'func_in_func' is not defined

##### 부모함수를 호출하기 전에는 자식함수를 호출할 수 없다.
* 위에 중첩함수가 어떤식으로 돌아가는지 이해하기

-------------------------

# 람다식 예제
* 메모리 절약, 가독성 향상, 코드 간결
* 함수는 객체 생성 -> 리소스(메모리) 할당
* 람다는 즉시 실행 함수(Heap 초기화) -> 메모리 초기화
* 남발 시 가독성 오히려 감소

In [13]:
#def mul_func(x, y):
#    return x * y
    
#lambda x, y:x*y

In [14]:
# 일반적함수 -> 할당
def mul_func(x, y):
    return x * y

print(mul_func(10, 50))

mul_func_var = mul_func
print(mul_func_var(20,50))

500
1000

In [15]:
# 람다 함수 -> 할당
lambda_mul_func = lambda x,y:x*y # 람다식이 메모리 효율성은 좋은데..음..확실히 가독성이 떨어지는듯
print(lambda_mul_func(50,50))

def func_final(x, y, func):
    print('>>>>', x * y * func(100, 100))

func_final(10, 20, lambda_mul_func)

2500
>>>> 2000000

In [16]:
# Hint
def tot_length1(word: str, num: int) -> int:
    return len(word) * num


print('hint exam1 : ', tot_length1("i love you", 10))


def tot_length2(word: str, num: int) -> None:
    print('hint exam2 : ', len(word) * num)


tot_length2("niceman", 10)

hint exam1 :  100
hint exam2 :  70

## 파이썬 사용자 입력
## Input 사용법
* input으로 받은 값의 기본 타입은 문자열(str)이다.

In [30]:
# 예제1
name = input("Enter Your Name : ")
grade = input("Enter Your Grade : ")
company = input("Enter Your Company name : ")

print(name, grade, company)

Enter Your Name : ㄹ
Enter Your Grade : ㄹ
Enter Your Company name : ㄹ
ㄹ ㄹ ㄹ

In [ ]:
# 예제2
number = input("Enter number : ")
name = input("Enter name : ")

print("type of number", type(number), number * 3)
print("type of nanme", type(name))

In [ ]:
# 예제3(계산)
first_number = int(input("Enter number1 : "))
second_number = int(input("Enter number2 : "))

total = first_number + second_number
print("first_number + second_number : ", total)

In [ ]:
# 예제4
float_number = float(input("Enter a float number : "))

print("input float : ", float_number)
print("input type : ", type(float_number))

In [31]:
# 예제5
print("FirstName - {0}, LastName - {1}".format(input("Enter first name : "), input("Enter second name : ")))

Enter first name : geon
Enter second name : hyeon
FirstName - geon, LastName - hyeon

##### 이 부분 배웠던건데!!! 복습하기~!