# Print

## 1.1 기본 출력

In [1]:
print('Python Start!')

Python Start!

In [2]:
print("Python Start!")

Python Start!

In [3]:
print()

In [4]:
print('Python Start!')
print()  # 한칸 줄바꿈을 위해 사용할 수도 있다. 
print('Python Start!')

Python Start!

Python Start!

## 1.2 separator 옵션 사용
    ~으로 분리하여라
    Tip. '' <- 공백으로 분리하면 값끼리 붙히는 효과가 된다.

In [5]:
print('P','Y','T','H','O','N', sep='') #

PYTHON

In [6]:
print('010','7777','7777', sep='-')

010-7777-7777

In [7]:
print('ais04134','naver.com', sep = '@')

ais04134@naver.com

## 1.3 end 옵션 사용
    end 옵션을 통하여 하나의 라인으로 연결할 수 있다. 
    Tip. 반복문에서 글자가 밑으로 쭉 내려가는 경우 읽기 쉽게 할 수 있다.

In [13]:
print('Welcome To', end = ' ')
print('IT News', end=' ')
print('Web Site')

Welcome To IT News Web Site

## 1.4 file 옵션 사용
    print문으로 적은 내용을 외부에 특정 파일에 쓸 거다. <- 이럴때 file 옵션을 사용한다.

In [ ]:
import sys

print('Learn Python', file = sys.stdout)

## 1.5 format 사용(s, d, f)  -> ex)  s: 'python', d : 3, f : 3.1445454

In [14]:
print('%s %s' % ('one', 'two'))

one two

In [15]:
print('{} {}'.format('one', 'two')) # 개인적으로 좋은 스타일!

one two

In [16]:
print('{1} {0}'.format('one', 'two')) # 이런식으로 응용 가능하다.

two one

### 1.5.1 %s <- 문자열을 의미함

In [18]:
print('%10s' % ('nice')) # 숫자가 오면 자리수를 의미함

      nice

In [19]:
print('%10s' % ('nice12345'))

 nice12345

In [22]:
print('{:>10}'.format('nice')) # ??

      nice

In [21]:
print('{:>10}'.format('nice12345')) # 가로 익스프레션에서는 s 를 생략해도 된다. but 정수나 실수일때는 명시해줘야한다.

 nice12345

In [26]:
print('%-10s' % ('nice')) # 반대쪽 기준으로 카운트

nice

In [27]:
print('{:10}'.format('nice'))

nice

In [29]:
print('{:_>10}'.format('nice')) # 이런식으로 빈 값을 특정 값으로 채워넣을 수 있다.

______nice

In [30]:
print('{:^10}'.format('nice')) # 중앙정렬

   nice

In [35]:
print('%.5s' % ('pythonstudy')) # 절삭을 하여 원하는 자리수대로 글자를 출력한다.

pytho

In [33]:
print('%5s' % ('pythonstudy'))

pythonstudy

In [36]:
print('{:.5}'.format('pythonstudy'))

pytho

In [37]:
print('{:10.5}'.format('pythonstudy'))

pytho

### 1.5.2 %d <- 정수를 의미함

In [38]:
print('%d %d' % (1, 2))

1 2

In [39]:
print('{} {}'.format(1, 2))

1 2

In [40]:
print('%4d' % (42,))

  42

In [41]:
print('{:4d}'.format(42))

  42

### 1.5.3 %f  <- 실수를 의미함

In [42]:
print('%f' % (3.141592653589793,))

3.141593

In [43]:
print('{:f}'.format(3.141592653589793))

3.141593

In [44]:
print('%06.2f' % (3.141592653589793,)) # 소수부, 정수부 고려해서 접근해야된다.

003.14

In [45]:
print('{:06.2f}'.format(3.141592653589793))

003.14