## Syntax – Creating DataFrames

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = [1, 2, 3])

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [8]:
df[["a", "b"]]

   a  b
1  4  7
2  5  8
3  6  9

In [4]:
df.loc[3, "a"]

6

In [5]:
df.loc[[1, 2], ["a", "b"]]

   a  b
1  4  7
2  5  8

In [11]:
df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]],
        index=[1, 2, 3],
        columns=['a', 'b', 'c'])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [43]:
import numpy as np
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 6, np.nan],
        "b" : [7, 8, np.nan, 9, 9],
        "c" : [10, 11, 12, np.nan, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3),('e',4)],
        names=['n','v']))

df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0

In [18]:
df.loc[[2]]

   a  b   c
2  5  8  11

In [23]:
df.loc[:,['b']]

   b
1  7
2  8
3  9

In [29]:
df.iloc[:2,:3]

   a  b   c
1  4  7  10
2  5  8  11

## 다중 인덱싱을 접근할때는 튜플로 접근하기

In [47]:
df.loc[[("d",2)],["b"]]

       b
n v
d 2  8.0

In [52]:
df.loc[[("d",2)],["a","b"]]

       a    b
n v
d 2  5.0  8.0

In [48]:
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0

In [51]:
df.loc[["d"],["b"]]

       b
n v
d 1  7.0
  2  8.0