* 영상링크 : https://youtu.be/CGEhwAd7Dbk

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1  0.364109
1   2 -0.418559
2   3  0.499130
3   4 -0.590585
4   5  0.815515
5   6 -1.608037
6   7  0.403380
7   8 -0.355428
8   9 -0.131781
9  10  0.173273

In [4]:
df.assign?

In [9]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1  2.052028  0.000000
1  2  1.710044  0.693147
2  3 -1.174701  1.098612
3  4  0.234340  1.386294
4  5 -1.025556  1.609438

In [12]:
df.ln_A = np.log(df.A)
df

    A         B      ln_A
0   1  2.052028  0.000000
1   2  1.710044  0.693147
2   3 -1.174701  1.098612
3   4  0.234340  1.386294
4   5 -1.025556  1.609438
5   6 -0.091295  1.791759
6   7 -2.052226  1.945910
7   8 -0.233776  2.079442
8   9 -0.783700  2.197225
9  10 -1.131910  2.302585

In [17]:
pd.qcut(df.B, 2, labels=["good", "bad"])

0     bad
1     bad
2    good
3     bad
4    good
5     bad
6    good
7     bad
8    good
9    good
Name: B, dtype: category
Categories (2, object): [good < bad]

In [23]:
df.max(axis=0)

A       10.000000
B        2.052028
ln_A     2.302585
dtype: float64

In [24]:
df.min(axis=0)

A       1.000000
B      -2.052226
ln_A    0.000000
dtype: float64

In [35]:
df["B"].clip(lower=1,upper=3)

0    2.052028
1    1.710044
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    1.000000
8    1.000000
9    1.000000
Name: B, dtype: float64

In [40]:
df["B"].abs()

0    2.052028
1    1.710044
2    1.174701
3    0.234340
4    1.025556
5    0.091295
6    2.052226
7    0.233776
8    0.783700
9    1.131910
Name: B, dtype: float64